<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "{{site.schema.type}}",
	"name": "{{site.title}}",
	"description": "{{site.description}}",
	"logo": "{{site.schema.logo}}",
	"url": "{{site.url}}",
	"sameAs": ["https://www.facebook.com/{{site.socials.facebook}}/","https://soundcloud.com/{{site.socials.soundcloud}}","https://open.spotify.com/user/{{site.socials.spotify}}","https://www.instagram.com/{{site.socials.instagram}}/","https://www.linkedin.com/company/{{site.socials.linkedin}}","https://plus.google.com/{{site.socials.googleplus}}","https://www.youtube.com/channel/{{site.socials.youtube}}"],
	"address": {
		"@type": "PostalAddress",
		"addressLocality": "Los Angeles",
		"addressCountry": "United States"
	}
}
</script>
