<!-- <link rel="stylesheet" type="text/css" href="/assets/style/css/bootstrap.min.css?v={{ site.time | date: '%s' }}">
<link rel="stylesheet" type="text/css" href="/assets/style/css/plugins.css?v={{ site.time | date: '%s' }}">
<link rel="stylesheet" type="text/css" href="/assets/style/revolution/css/settings.css?v={{ site.time | date: '%s' }}">
<link rel="stylesheet" type="text/css" href="/assets/style/revolution/css/layers.css?v={{ site.time | date: '%s' }}">
<link rel="stylesheet" type="text/css" href="/assets/style/revolution/css/navigation.css?v={{ site.time | date: '%s' }}">
<link rel="stylesheet" type="text/css" href="/assets/style.css?v={{ site.time | date: '%s' }}">
<link rel="stylesheet" type="text/css" href="/assets/style/css/color/green.css?v={{ site.time | date: '%s' }}">
<link rel="stylesheet" type="text/css" href="/assets/style/type/icons.css?v={{ site.time | date: '%s' }}">
<link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,300' rel='stylesheet' type='text/css'> -->


<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700%7CSource+Sans+Pro:400,600,700' rel='stylesheet'>

<!-- Css -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css?v={{ site.time | date: '%s' }}" />
<link rel="stylesheet" href="/assets/css/font-icons.css?v={{ site.time | date: '%s' }}" />
<link rel="stylesheet" href="/assets/css/style.css?v={{ site.time | date: '%s' }}" />


<!-- General -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
