<!-- <script
  src="https://code.jquery.com/jquery-1.12.4.min.js?v={{ site.time | date: '%s' }}"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous">
</script> -->

<!-- /footer -->
<script type="text/javascript" src="/assets/style/js/jquery.min.js?v={{ site.time | date: '%s' }}"></script>
<script type="text/javascript" src="/assets/style/js/bootstrap.min.js?v={{ site.time | date: '%s' }}"></script>
<script type="text/javascript" src="/assets/style/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script type="text/javascript" src="/assets/style/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
<script type="text/javascript" src="/assets/style/revolution/js/extensions/revolution.extension.slideanims.min.js?v={{ site.time | date: '%s' }}"></script>
<script type="text/javascript" src="/assets/style/revolution/js/extensions/revolution.extension.layeranimation.min.js?v={{ site.time | date: '%s' }}"></script>
<script type="text/javascript" src="/assets/style/revolution/js/extensions/revolution.extension.navigation.min.js?v={{ site.time | date: '%s' }}"></script>
<script type="text/javascript" src="/assets/style/revolution/js/extensions/revolution.extension.carousel.min.js?v={{ site.time | date: '%s' }}"></script>
<script type="text/javascript" src="/assets/style/revolution/js/extensions/revolution.extension.video.min.js?v={{ site.time | date: '%s' }}"></script>
<script type="text/javascript" src="/assets/style/revolution/js/extensions/revolution.extension.kenburn.min.js?v={{ site.time | date: '%s' }}"></script>
<script type="text/javascript" src="/assets/style/js/plugins.js?v={{ site.time | date: '%s' }}"></script>
<script type="text/javascript" src="/assets/style/js/scripts.js?v={{ site.time | date: '%s' }}"></script>
