<!-- GOOGLE -->
<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" defer></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7372939085773564",
    enable_page_level_ads: true
  });
</script> -->

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '334408960631005');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=334408960631005&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->


<script type="text/javascript">


//buttons
var wait_buttonLoaded = false;
check_buttonLoaded();

function check_buttonLoaded() {
  if (document.getElementById(field_submit)) {
    wait_buttonLoaded = true;
    post_buttonLoaded();
  }
  if (wait_buttonLoaded = false) {
    setTimeout(function () {
      check_buttonLoaded();
    }, 1000);
  }
}

function post_buttonLoaded() {
  document.getElementById(field_submit).addEventListener("click", function(){
    console.log('FB track '+totalCost)
    fbq('track', 'Purchase', {
      value: totalCost,
      content_ids: 'SOMIIBO_MONTHLY',
    });
  });
}




</script>
