<!-- /.content-wrapper -->
<footer class="inverse-wrapper">
  <div class="container inner2">
    <div class="row">
      <div class="col-sm-3">
        <div class="widget">
          <h3 class="widget-title section-title">Popular Posts</h3>
          <!-- <ul class="post-list">
            <li>
              <figure class="overlay small"> <a href="blog-post.html"><img src="/assets/style/images/art/a1.jpg" alt="" /> </a> </figure>
              <div class="post-content">
                <h4 class="post-title"> <a href="blog-post.html">Magna Mollis Ultricies Mauris</a> </h4>
                <div class="meta"><span class="date">12 Nov 2014</span></div>
              </div>
            </li>
            <li>
              <figure class="overlay small"> <a href="blog-post.html"><img src="/assets/style/images/art/a2.jpg" alt="" /> </a> </figure>
              <div class="post-content">
                <h4 class="post-title"> <a href="blog-post.html">Ornare Nullam Risus Cursus</a> </h4>
                <div class="meta"><span class="date">12 Nov 2014</span></div>
              </div>
            </li>
            <li>
              <figure class="overlay small"> <a href="blog-post.html"><img src="/assets/style/images/art/a3.jpg" alt="" /> </a> </figure>
              <div class="post-content">
                <h4 class="post-title"> <a href="blog-post.html">Euismod Nullam Fusce Dapibus</a> </h4>
                <div class="meta"><span class="date">12 Nov 2014</span></div>
              </div>
            </li>
          </ul> -->
          <!-- /.post-list -->
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->

      <div class="col-sm-3">
        <div class="widget">
          <h3 class="widget-title section-title">Discover</h3>
          <ul class="tag-list">
						<li> <a href="{{site.url}}/blog/future-bass/" class="btn">Future Bass</a></li>
						<li> <a href="{{site.url}}/blog/trap/" class="btn">Trap</a> </li>
						<li> <a href="{{site.url}}/blog/dubstep/" class="btn">Dubstep</a> </li>
						<li> <a href="{{site.url}}/blog/hip-hop/" class="btn">Hip-hop</a> </li>
            <li> <a href="{{site.url}}/blog/bass/" class="btn">Bass</a> </li>
          </ul>
        </div>
        <!-- /.widget -->
        <div class="widget">
          <h3 class="widget-title section-title">More</h3>
          <ul class="circled">
            <li> <a href="https://app.soundgrail.com">SoundGrail App</a> </li>
            <li> <a href="https://soundgrail.com">SoundGrail Home</a> </li>
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->

      <div class="col-sm-3">
        <div class="widget">
          <h3 class="widget-title section-title">Get in Touch</h3>
					<p><a href="https://soundgrail.com/promotion/music-blog-feature/" class="btn">Submit a song to our music blog</a> </p>
          <!-- <address>
          <strong>Juno, Inc.</strong><br>
          Moon Street Light Avenue, 14/05 <br>
          Jupiter, JP 80630<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890 <br>
          <abbr title="Email">E:</abbr> <a href="mailto:#">first.last@example.com</a>
          </address> -->
        </div>
        <!-- /.widget -->
        <div class="widget">
          <h3 class="widget-title section-title">Connect with us</h3>
					<ul class="social" itemscope itemtype="http://schema.org/Organization">
			      <link itemprop="url" href="https://soundgrail.com">
			      <li> <a itemprop="sameAs" href="https://soundgrail.com/feed.xml"><i class="ion-social-rss"></i></a> </li>
			      <li> <a itemprop="sameAs" href="https://twitter.com/soundgrailmusic"><i class="ion-social-twitter"></i></a> </li>
			      <li> <a itemprop="sameAs" href="https://www.facebook.com/soundgrail"><i class="ion-social-facebook"></i></a> </li>
			      <li> <a itemprop="sameAs" href="https://www.instagram.com/soundgrail/"><i class="ion-social-instagram"></i></a> </li>
			      <li> <a itemprop="sameAs" href="https://www.youtube.com/channel/UC5CGKWyaa_SVWZbMUtiwuQA"><i class="ion-social-youtube"></i></a> </li>
			      <li> <a itemprop="sameAs" href="https://soundgrail.tumblr.com/"><i class="ion-social-tumblr"></i></a> </li>
			    </ul>
        </div>





        <!-- /.widget -->

      </div>
      <!-- /column -->

      <div class="col-sm-3">
        <div class="widget">
          <h3 class="widget-title section-title">About Us</h3>
          <!-- <figure> <img src="/assets/style/images/art/about.jpg" alt="" /> </figure> -->
          <div class="divide10"></div>
          <p>SoundGrail is a music blog that helps you discover new music and playlists. Electronic, edm & hip-hop! Independent music news, reviews, features, interviews and videos.</p>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->

    </div>
    <!-- /.row -->

  </div>
  <!-- .container -->

  <div class="sub-footer">
    <div class="container inner">
      <p class="text-center">© 2018 SoundGrail. All rights reserved. </p>
    </div>
    <!-- .container -->
  </div>
  <!-- .sub-footer -->

</footer>
