<!-- <div class="navbar navbar-default default classic" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand"><a href="{{site.url}}"><img src="#" srcset="/assets/style/images/soundgrail-logo-dark.svg 1x, /assets/style/images/soundgrail-logo-dark@2x.svg 2x" alt="SoundGrail Logo" /></a></div>
      <div class="nav-bars-wrapper">
        <div class="nav-bars-inner">
          <div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"><span></span></div>
        </div>
      </div>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="https://soundgrail.com">Main Site</a></li>
        <li><a href="{{site.url}}/blog/">Blog Features <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{site.url}}/blog/">Featured Tracks</a></li>
            <li><a href="{{site.url}}/blog/future-bass/">Future Bass</a></li>
            <li><a href="{{site.url}}/blog/trap/">Trap</a></li>
            <li><a href="{{site.url}}/blog/dubstep/">Dubstep</a></li>
            <li><a href="{{site.url}}/blog/hip-hop/">Hip Hop</a></li>
            <li><a href="{{site.url}}/blog/bass/">Bass</a></li>
          </ul>
        </li>
        <li><a href="{{site.url}}/spotify-playlist/">Spotify Playlists <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{site.url}}/playlist/">View Our Playlists</a></li>
            <li><a href="{{site.url}}/playlist/spotify-workout-playlist/">Spotify Workout Playlist</a></li>
            <li><a href="{{site.url}}/playlist/spotify-productivity-playlist/">Spotify Productivity Playlist</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div> -->


<!-- Top Bar -->
<div class="top-bar d-none d-lg-block">
  <div class="container">
    <div class="row">

      <!-- Top menu -->
      <div class="col-lg-6">
        <ul class="top-menu">
          <li><a href="{{site.url}}/about/">About</a></li>
          <li><a href="https://soundgrail.com/promotion/music-blog-feature/">Submit Music</a></li>
          <li><a href="{{site.url}}/contact/">Contact</a></li>
        </ul>
      </div>

      <!-- Socials -->
      <div class="col-lg-6">
        <div class="socials nav__socials socials--nobase socials--white justify-content-end">
          <a class="social social-facebook" href="https://facebook.com/{{site.socials.facebook}}" target="_blank" aria-label="facebook">
            <!-- <i class="ui-facebook"></i> -->
            <i class="fab fa-facebook"></i>

          </a>
          <a class="social social-soundcloud" href="https://soundcloud.com/{{site.socials.soundcloud}}" target="_blank" aria-label="soundcloud">
            <i class="fab fa-soundcloud"></i>
            <!-- <i class="ui-soundcloud"></i> -->
          </a>
          <a class="social social-spotify" href="https://open.spotify.com/user/{{site.socials.spotify}}" target="_blank" aria-label="spotify">
            <i class="fab fa-spotify"></i>
            <!-- <i class="ui-facebook"></i> -->
          </a>
          <!-- <a class="social social-twitter" href="#" target="_blank" aria-label="twitter">
            <i class="ui-twitter"></i>
          </a> -->
          <!-- <a class="social social-google-plus" href="#" target="_blank" aria-label="google">
            <i class="ui-google"></i>
          </a> -->
          <!-- <a class="social social-youtube" href="#" target="_blank" aria-label="youtube">
            <i class="ui-youtube"></i>
          </a> -->
          <!-- <a class="social social-instagram" href="#" target="_blank" aria-label="instagram">
            <i class="ui-instagram"></i>
          </a> -->
        </div>
      </div>

    </div>
  </div>
</div> <!-- end top bar -->



<!-- Navigation -->
<header class="nav">

  <div class="nav__holder nav--sticky">
    <div class="container relative">
      <div class="flex-parent">

        <!-- Side Menu Button -->
        <button class="nav-icon-toggle" id="nav-icon-toggle" aria-label="Open side menu">
          <span class="nav-icon-toggle__box">
            <span class="nav-icon-toggle__inner"></span>
          </span>
        </button>

        <!-- Logo -->
        <a href="{{site.url}}" class="logo">
          <!-- <img class="logo__img" src="/assets/img/logo_default.png" srcset="/assets/img/logo_default.png 1x, /assets/img/logo_default@2x.png 2x" alt="logo"> -->
          <img class="logo__img" src="/assets/style/images/soundgrail-logo-dark.svg" srcset="/assets/style/images/soundgrail-logo-dark.svg 1x, /assets/style/images/soundgrail-logo-dark@2x.svg 2x" alt="logo">

        </a>


        <!-- Nav-wrap -->
        <nav class="flex-child nav__wrap d-none d-lg-block">
          <ul class="nav__menu">

            <li class="nav__dropdown {% if page.url contains '/blog/' %} active {% endif %}">
              <a href="{{site.url}}/blog/">Song Features</a>
              <ul class="nav__dropdown-menu">
                <li><a href="{{site.url}}/blog/">All Featured Tracks</a></li>
                <li><a href="{{site.url}}/blog/future-bass/">Future Bass</a></li>
                <li><a href="{{site.url}}/blog/trap/">Trap</a></li>
                <li><a href="{{site.url}}/blog/dubstep/">Dubstep</a></li>
                <li><a href="{{site.url}}/blog/hip-hop/">Hip Hop</a></li>
                <li><a href="{{site.url}}/blog/bass/">Bass</a></li>
              </ul>
            </li>

            <li class="nav__dropdown {% if page.url contains '/spotify-playlist/' %} active {% endif %}">
              <a href="{{site.url}}/playlist/spotify/">Spotify Playlists</a>
              <ul class="nav__dropdown-menu">
                <li><a href="{{site.url}}/playlist/spotify/">View All Our Playlists</a></li>
                <li><a href="{{site.url}}/playlist/spotify/workout/">Spotify Workout Playlist</a></li>
                <li><a href="{{site.url}}/playlist/spotify/productivity/">Spotify Productivity Playlist</a></li>
              </ul>
            </li>

            <!-- <li class="nav__dropdown">
              <a href="#">Posts</a>
              <ul class="nav__dropdown-menu nav__megamenu">
                <li>
                  <div class="nav__megamenu-wrap">
                    <div class="row">

                      <div class="col nav__megamenu-item">
                        <article class="entry">
                          <div class="entry__img-holder">
                            <a href="single-post.html">
                              <img src="/assets/img/content/grid/grid_post_1.jpg" alt="" class="entry__img">
                            </a>
                            <a href="categories.html" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet">world</a>
                          </div>

                          <div class="entry__body">
                            <h2 class="entry__title">
                              <a href="single-post.html">Follow These Smartphone Habits of Successful Entrepreneurs</a>
                            </h2>
                          </div>
                        </article>
                      </div>

                      <div class="col nav__megamenu-item">
                        <article class="entry">
                          <div class="entry__img-holder">
                            <a href="single-post.html">
                              <img src="/assets/img/content/grid/grid_post_2.jpg" alt="" class="entry__img">
                            </a>
                            <a href="categories.html" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--purple">fashion</a>
                          </div>

                          <div class="entry__body">
                            <h2 class="entry__title">
                              <a href="single-post.html">3 Things You Can Do to Get Your Customers Talking About Your Business</a>
                            </h2>
                          </div>
                        </article>
                      </div>

                      <div class="col nav__megamenu-item">
                        <article class="entry">
                          <div class="entry__img-holder">
                            <a href="single-post.html">
                              <img src="/assets/img/content/grid/grid_post_3.jpg" alt="" class="entry__img">
                            </a>
                            <a href="categories.html" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--blue">business</a>
                          </div>

                          <div class="entry__body">
                            <h2 class="entry__title">
                              <a href="single-post.html">Lose These 12 Bad Habits If You're Serious About Becoming a Millionaire</a>
                            </h2>
                          </div>
                        </article>
                      </div>

                      <div class="col nav__megamenu-item">
                        <article class="entry">
                          <div class="entry__img-holder">
                            <a href="single-post.html">
                              <img src="/assets/img/content/grid/grid_post_4.jpg" alt="" class="entry__img">
                            </a>
                            <a href="categories.html" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--green">lifestyle</a>
                          </div>

                          <div class="entry__body">
                            <h2 class="entry__title">
                              <a href="single-post.html">10 Horrible Habits You're Doing Right Now That Are Draining Your Energy</a>
                            </h2>
                          </div>
                        </article>
                      </div>

                    </div>
                  </div>
                </li>
              </ul>
            </li> -->

            <!-- <li class="nav__dropdown">
              <a href="#">Pages</a>
              <ul class="nav__dropdown-menu">
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="search-results.html">Search Results</a></li>
                <li><a href="categories.html">Categories</a></li>
                <li><a href="404.html">404</a></li>
              </ul>
            </li> -->

            <!-- <li class="nav__dropdown">
              <a href="#">Features</a>
              <ul class="nav__dropdown-menu">
                <li><a href="shortcodes.html">Shortcodes</a></li>
                <li class="nav__dropdown">
                  <a href="#">Single Post</a>
                  <ul class="nav__dropdown-menu">
                    <li><a href="single-post.html">Style 1</a></li>
                    <li><a href="single-post-politics.html">Style 2</a></li>
                    <li><a href="single-post-fashion.html">Style 3</a></li>
                    <li><a href="single-post-games.html">Style 4</a></li>
                    <li><a href="single-post-videos.html">Style 5</a></li>
                    <li><a href="single-post-music.html">Style 6</a></li>
                  </ul>
                </li>
              </ul>
            </li> -->

            <li>
              <a href="https://soundgrail.com">Main Site</a>
            </li>
            <li>
              <a href="https://app.soundgrail.com">Our Producer App</a>
            </li>


          </ul> <!-- end menu -->
        </nav> <!-- end nav-wrap -->

        <!-- Nav Right -->
        <div class="nav__right">

          <!-- Search -->
          <div class="nav__right-item nav__search">
            <a href="#" class="nav__search-trigger" id="nav__search-trigger">
              <i class="ui-search nav__search-trigger-icon"></i>
            </a>
            <div class="nav__search-box" id="nav__search-box">
              {% include /modules/custom-search.html %}

              <!-- <form class="nav__search-form">
                <input type="text" placeholder="Search an article" class="nav__search-input">
                <button type="submit" class="search-button btn btn-lg btn-color btn-button">
                  <i class="ui-search nav__search-icon"></i>
                </button>
              </form> -->
            </div>
          </div>

        </div> <!-- end nav right -->

      </div> <!-- end flex-parent -->
    </div> <!-- end container -->

  </div>
</header> <!-- end navigation -->
