<div class="navbar navbar-default default classic" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand"><a href="{{site.url}}"><img src="#" srcset="/assets/style/images/soundgrail-logo-dark.svg 1x, /assets/style/images/soundgrail-logo-dark.svg 2x" alt="SoundGrail Logo" /></a></div>
      <div class="nav-bars-wrapper">
        <div class="nav-bars-inner">
          <div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"><span></span></div>
        </div>
        <!-- /.nav-bars-inner -->
      </div>
      <!-- /.nav-bars-wrapper -->
    </div>
    <!-- /.nav-header -->

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="https://soundgrail.com">Main Site</a></li>
        <!-- <li class="current"><a href="{{site.url}}">Home </a></li> -->
        <li><a href="{{site.url}}/blog/">Features <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{site.url}}/blog/">Featured Tracks</a></li>
            <li><a href="{{site.url}}/blog/future-bass/">Future Bass</a></li>
            <li><a href="{{site.url}}/blog/trap/">Trap</a></li>
            <li><a href="{{site.url}}/blog/dubstep/">Dubstep</a></li>
            <li><a href="{{site.url}}/blog/hip-hop/">Hip Hop</a></li>
            <li><a href="{{site.url}}/blog/bass/">Bass</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container -->

</div>
<!--/.navbar -->
