---
layout: null
title: About - SoundGrail Music Blog
description: Learn about us! SoundGrail is a music blog that helps you discover new music and playlists. Check out our exclusive electronic, edm & hip-hop spotify playlists!
breadcrumb: About
permalink: /about/
sitemap:
    priority: 1.0
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include /default/head.html %}

</head>
<body class="full-layout">
<div class="content-wrapper">

  {% include /elements/nav-main.html %}

  <!--/.navbar -->

  <div class="light-wrapper">
    <div class="container inner tp60">
      <div class="blog row">


        <div class="col-sm-8">
          <div class="blog-content classic-view">
            <div class="blog-posts">
              <div class="post">
                <div class="post-content">
                  <div class="collage-wrapper bm20">
                    <div class="collage effect-parent light-gallery">
                      <!-- <iframe src="https://open.spotify.com/embed/user/d4ef02j7tjvls9gkkdtdxcnq9/playlist/6va7zra7cPqPdV77AR4QDb" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
                    </div>
                  </div>
                  <h2 class="post-title text-center">About</h2>
                  <p>SoundGrail was founded in August 2010 with only a few dedicated followers. It has since grown to be a family of writers and music lovers from across the globe. </p>
                  <p>We support one genre and one genre only. That is, good music. In other words, it doesn't matter if you make hip-hop, rap, indie, or one of the many sub-styles of electronic music, we appreciate all walks of life.</p>
                  <p>We're looking to promote new, undiscovered music that will move us - physically and emotionally. We want music that challenges the forefront of sound and takes risks. That's what music is all about. It should take the listener to place he or she has never been or seen. Take a chance and experiment because there are too many copycats (musically and lyrically) today.</p>
                  <p>There's so much brilliant, undiscovered music out there. We wanted to develop a platform to showcase and celebrate the creativity and passion of musicians, artists and bands that we love and hope to share with the world via our music blog platform.</p>
                  <p>Think about this for a second. How many of your favorite artists were recommended to you by a friend? Probably a lot. Thus, we hope to serve you top-quality music that we would not be embarrassed to talk about with our own friends. </p>
                  <p>Our writers and influencers will bring you the best music, including indie rock, hip hop, electronic, and everything in between. This music is discovered and listened to by real music lovers.</p>
                  <p>We will give you feedback on your submission regardless of whether it was accepted or not. The feedback will be honest and it should never be taken as a personal criticism.</p>
                  <p>As well as featuring new tracks as part of our weekly playlists or as individual posts, we also review albums, EPs and events and host Introducing interviews.</p>
                  <p>If you’d like your music featured on SoundGrail, go ahead and send us your Soundcloud or Youtube song URL, and a little about who you are and your social media links. </p>

                  <div class="text-center"><a href="{{site.url}}/blog/" class="more">Check out our music blog!</a></div>
                </div>
                <!-- /.post-content -->

              </div>
              <!-- /.post -->





            </div>
            <!-- /.blog-posts -->

          </div>
          <!-- /.classic-view -->


        </div>
        <!-- /.blog-content -->

        {% include /modules/sidebar-blog.html %}


      </div>
      <!-- /.blog -->

    </div>
    <!-- /.container -->
  </div>
  <!-- /.light-wrapper -->

</div>

  {% include /default/foot.html %}

</body>
</html>
