---
layout: null
title: Support - SoundGrail Music Blog
description: Have a question or a concern about music or our services? Please feel free to shoot us an email to learn more about SoundGrail.
breadcrumb: Support
permalink: /support/
sitemap:
    priority: 1.0
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include /default/head.html %}

</head>
<body class="full-layout">
<div class="content-wrapper">

  {% include /elements/nav-main.html %}

  <!--/.navbar -->

  <div class="light-wrapper">
    <div class="container inner tp60">
      <div class="blog row">


        <div class="col-sm-8">
          <div class="blog-content classic-view">
            <div class="blog-posts">
              <div class="post">
                <div class="post-content">
                  <div class="collage-wrapper bm20">
                    <div class="collage effect-parent light-gallery">
                      <!-- <iframe src="https://open.spotify.com/embed/user/d4ef02j7tjvls9gkkdtdxcnq9/playlist/6va7zra7cPqPdV77AR4QDb" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
                    </div>
                  </div>
                  <h2 class="post-title text-center">Support</h2>
                  <p>Contact us for anything you need! We also offer a lively forum for our users to discover music together. Check out the SoundGrail Forum.</p>

                  <div class="text-center"><a href="https://forum.soundgrail.com" class="more">Check out the SoundGrail Forum!</a></div>
                </div>
                <!-- /.post-content -->

              </div>
              <!-- /.post -->





            </div>
            <!-- /.blog-posts -->

          </div>
          <!-- /.classic-view -->


        </div>
        <!-- /.blog-content -->

        {% include /modules/sidebar-blog.html %}


      </div>
      <!-- /.blog -->

    </div>
    <!-- /.container -->
  </div>
  <!-- /.light-wrapper -->

</div>

  {% include /default/foot.html %}

</body>
</html>
