---
layout: null
---
<!DOCTYPE html>
<html lang="en">
<head>

  {% include /default/head.html %}

</head>

<body class="bg-light style-default style-rounded">

  <!-- Preloader -->
  <div class="loader-mask">
    <div class="loader">
      <div></div>
    </div>
  </div>

  <!-- Bg Overlay -->
  <div class="content-overlay"></div>

  {% include /elements/nav.html %}


  <main class="main oh" id="main">


    {% include /elements/nav-main.html %}


    <div class="main-container container pt-24" id="main-container">

      <!-- Content -->
      <div class="row">

        <!-- post content -->
        <div class="col-lg-8 blog__content mb-72">
          <div class="content-box">

            <!-- standard post -->
            <article class="entry mb-0">

              <div class="single-post__entry-header entry__header">
                <h1 class="single-post__entry-title">
                  {{page.title}}
                </h1>
                <a href="{{ site.url }}/blog/{{ page.genre }}" class="entry__meta-category entry__meta-category--label entry__meta-category--green">{{ page.genre }}</a>

                <div class="entry__meta-holder">
                  <ul class="entry__meta">
                    <li class="entry__meta-author">
                      <span>by</span>
                      <a href="#">{{ page.author }}</a>
                    </li>
                    <li class="entry__meta-date">
                      {{ page.date | date_to_string }}
                    </li>
                  </ul>

                  <ul class="entry__meta">
                    <li class="entry__meta-views">
                      <i class="ui-eye"></i>
                      <span>1356</span>
                    </li>
                    <li class="entry__meta-comments">
                      <a href="#">
                        <i class="ui-chat-empty"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div> <!-- end entry header -->

              <div class="entry__img-holder">
                <!-- <img src="img/content/list/list_post_1.jpg" alt="" class="entry__img d-none"> -->
                {% if page.teaser.type == "image" %}
                <figure class="overlay"><a href="{{site.url}}{{ page.url }}"> <img src="{{site.url}}/blog/posts/{{ page.post_id }}/teaser.jpg" alt="{{ page.title }}" /></a></figure>
                {% elsif page.teaser.type == "soundcloud" %}
                <iframe width="100%" height="380" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//{{ page.teaser.source }}&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                {% endif %}
              </div>

              <div class="entry__article-wrap">

                {% include /modules/socials-list.html %}

                <div class="entry__article">
                  {{content}}

                  <!-- tags -->
                  <div class="entry__tags">
                    <i class="ui-tags"></i>
                    <span class="entry__tags-label">Tags:</span>
                    <a href="{{ site.url }}/blog/{{ page.genre }}" rel="tag">{{ page.genre }}</a>
                    <!-- <a href="#" rel="tag">gadgets</a> -->
                    <!-- <a href="#" rel="tag">satelite</a> -->


                  </div> <!-- end tags -->

                </div> <!-- end entry article -->
              </div> <!-- end entry article wrap -->


              <!-- Newsletter Wide -->
              <div class="newsletter-wide">
                <div class="widget widget_mc4wp_form_widget">
                  <div class="newsletter-wide__container">
                    <div class="newsletter-wide__text-holder">
                      <p class="newsletter-wide__text">
                        <i class="ui-email newsletter__icon"></i>
                        Subscribe for our daily news
                      </p>
                    </div>
                    <div class="newsletter-wide__form">
                      <form class="mc4wp-form" method="post">
                        <div class="mc4wp-form-fields">
                          <div class="form-group">
                            <input type="email" name="EMAIL" placeholder="Your email" required="">
                          </div>
                          <div class="form-group">
                            <input type="submit" class="btn btn-lg btn-color" value="Sign Up">
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div> <!-- end newsletter wide -->

              <!-- Prev / Next Post -->
              <nav class="entry-navigation">
                <div class="clearfix">
                  {% if page.previous.url %}
                  <div class="entry-navigation--left">
                    <i class="ui-arrow-left"></i>
                    <span class="entry-navigation__label">Previous Post</span>
                    <div class="entry-navigation__link">
                      <a href="#" rel="next">{{page.previous.title}}</a>
                    </div>
                  </div>
                  {% endif %}

                  {% if page.next.url %}
                  <div class="entry-navigation--right">
                    <span class="entry-navigation__label">Next Post</span>
                    <i class="ui-arrow-right"></i>
                    <div class="entry-navigation__link">
                      <a href="#" rel="prev">{{page.next.title}}</a>
                    </div>
                  </div>
                  {% endif %}


                </div>
              </nav>



              <!-- Author -->
              <!-- <div class="entry-author clearfix">
                <img alt="" data-src="img/content/single/author.jpg" src="img/empty.png" class="avatar lazyload">
                <div class="entry-author__info">
                  <h6 class="entry-author__name">
                    <a href="#">John Carpet</a>
                  </h6>
                  <p class="mb-0">But unfortunately for most of us our role as gardener has never been explained to us. And in misunderstanding our role, we have allowed seeds of all types, both good and bad, to enter our inner garden.</p>
                </div>
              </div> -->

              <!-- Related Posts -->
              <!-- <section class="section related-posts mt-40 mb-0">
                <div class="title-wrap title-wrap--line title-wrap--pr">
                  <h3 class="section-title">Related Articles</h3>
                </div>

                <div id="owl-posts-3-items" class="owl-carousel owl-theme owl-carousel--arrows-outside">
                  <article class="entry thumb thumb--size-1">
                    <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/carousel/carousel_post_1.jpg');">
                      <div class="bottom-gradient"></div>
                      <div class="thumb-text-holder">
                        <h2 class="thumb-entry-title">
                          <a href="single-post.html">9 Things to Consider Before Accepting a New Job</a>
                        </h2>
                      </div>
                      <a href="single-post.html" class="thumb-url"></a>
                    </div>
                  </article>
                  <article class="entry thumb thumb--size-1">
                    <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/carousel/carousel_post_2.jpg');">
                      <div class="bottom-gradient"></div>
                      <div class="thumb-text-holder">
                        <h2 class="thumb-entry-title">
                          <a href="single-post.html">Gov’t Toughens Rules to Ensure 3rd Telco Player Doesn’t Slack Off</a>
                        </h2>
                      </div>
                      <a href="single-post.html" class="thumb-url"></a>
                    </div>
                  </article>
                  <article class="entry thumb thumb--size-1">
                    <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/carousel/carousel_post_3.jpg');">
                      <div class="bottom-gradient"></div>
                      <div class="thumb-text-holder">
                        <h2 class="thumb-entry-title">
                          <a href="single-post.html">(Infographic) Is Work-Life Balance Even Possible?</a>
                        </h2>
                      </div>
                      <a href="single-post.html" class="thumb-url"></a>
                    </div>
                  </article>
                  <article class="entry thumb thumb--size-1">
                    <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/carousel/carousel_post_4.jpg');">
                      <div class="bottom-gradient"></div>
                      <div class="thumb-text-holder">
                        <h2 class="thumb-entry-title">
                          <a href="single-post.html">Is Uber Considering To Sell its Southeast Asia Business to Grab?</a>
                        </h2>
                      </div>
                      <a href="single-post.html" class="thumb-url"></a>
                    </div>
                  </article>
                  <article class="entry thumb thumb--size-1">
                    <div class="entry__img-holder thumb__img-holder" style="background-image: url('img/content/carousel/carousel_post_2.jpg');">
                      <div class="bottom-gradient"></div>
                      <div class="thumb-text-holder">
                        <h2 class="thumb-entry-title">
                          <a href="single-post.html">Gov’t Toughens Rules to Ensure 3rd Telco Player Doesn’t Slack Off</a>
                        </h2>
                      </div>
                      <a href="single-post.html" class="thumb-url"></a>
                    </div>
                  </article>
                </div>

              </section>
            -->

            </article> <!-- end standard post -->

            <!-- Comments -->
            <div class="entry-comments">
              <div class="title-wrap title-wrap--line">
                <h3 class="section-title">Comments</h3>
              </div>
              {% include /modules/comments.html %}
            </div> <!-- end comments -->

            <!-- Comment Form -->


          </div> <!-- end content box -->
        </div> <!-- end post content -->

        <!-- Sidebar -->
        <aside class="col-lg-4 sidebar sidebar--right">
          {% include /modules/sidebar-blog.html %}
        </aside> <!-- end sidebar -->

      </div> <!-- end content -->


      {% include /adunits/inner-adsense-inarticle-2.html %}


    </div> <!-- end main container -->

    {% include /elements/foot.html %}


  </main> <!-- end main-wrapper -->


  {% include /default/foot.html %}



</body>
</html>
