---
layout: null
---
<!DOCTYPE html>
<html lang="en">
<head>

  {% include /default/head.html %}

</head>

<body class="bg-light style-default style-rounded">

  <!-- Preloader -->
  <div class="loader-mask">
    <div class="loader">
      <div></div>
    </div>
  </div>

  <!-- Bg Overlay -->
  <div class="content-overlay"></div>

  {% include /elements/nav.html %}


  <main class="main oh" id="main">


    {% include /elements/nav-main.html %}


    <div class="main-container container pt-24" id="main-container">

      <!-- Content -->
      <div class="row">

        <!-- Posts -->
        <div class="col-lg-8 blog__content">


          <section class="section">
            <!-- <div class="title-wrap title-wrap--line"> -->
            <div class="title-wrap">
              <h3 class="section-title">Featured Songs and Artists</h3>
              <!-- <a href="#" class="all-posts-url">View All</a> -->
            </div>

            {% for post in site.posts %}

            {% if post.genre contains page.genre %}


            <article class="entry card post-list">

              <div class="entry__body post-list__body card__body">
                <div class="entry__header">
                  <h2 class="entry__title">
                    <a href="{{site.url}}{{ post.url }}">{{ post.title }}</a>
                  </h2>
                  <ul class="entry__meta">
                    <li class="entry__meta-author">
                      <span>by</span>
                      <a href="#">{{ post.author }}</a>
                    </li>
                    <li class="entry__meta-date">
                      {{ post.date | date_to_string }}
                    </li>
                  </ul>
                </div>
                <div class="entry__excerpt">
                  <p>{{ post.excerpt }}...</p>
                  <a href="{{site.url}}{{ post.url }}" class="">Read more</a>

                </div>
              </div>
            </article>


            {% endif %}

          {% endfor %}




          </section>










          <!-- Latest News -->


        </div>
        <!-- end posts -->

        <!-- Sidebar -->
        <aside class="col-lg-4 sidebar sidebar--right">
          {% include /modules/sidebar-blog.html %}
        </aside> <!-- end sidebar -->

      </div> <!-- end content -->

      <!-- Ad Banner 728 -->
      <div class="text-center pb-48">
        <a href="#">
          <img src="/assets/img/content/placeholder_728.jpg" alt="">
        </a>
      </div>







    </div> <!-- end main container -->

    {% include /elements/foot.html %}


  </main> <!-- end main-wrapper -->


  {% include /default/foot.html %}



</body>
</html>
