<!-- Generic -->
<!-- <form action="https://www.google.com" id="cse-search-box" target="_blank" class="search-form">
  <div>
    <input type="hidden" name="cx" value="{{site.socials.google-custom-search}}">
    <input type="hidden" name="ie" value="UTF-8">
    <input type="text" name="q" size="55" class="form-control" placeholder="Search the blog">
  </div>
</form> -->

<!-- Specific -->
<form class="nav__search-form" action="https://www.google.com" target="_blank">
  <input type="hidden" name="cx" value="partner-pub-7372939085773564:4921973638">
  <input type="hidden" name="ie" value="UTF-8" />
  <input type="text" name="q" placeholder="Search an article" class="nav__search-input">
  <button type="submit" class="search-button btn btn-lg btn-color btn-button">
    <i class="ui-search nav__search-icon"></i>
  </button>
</form>
