<aside class="col-sm-4 sidebar">
  <div class="sidebox widget">
    <h3 class="widget-title section-title">About Us</h3>
    <figure> <img src="/assets/style/images/custom/blog-sidebar.jpg" class="img-auto" alt="SoundGrail music blog promo people at concert" /> </figure>
    <div class="divide10"></div>
    <p>SoundGrail is a music blog that helps you discover new music and playlists. Electronic, edm & hip-hop! Independent music news, reviews, features, interviews and videos.</p>
    <div class="clearfix"></div>
  </div>


  <!-- /.widget -->

  <!-- <div class="sidebox widget">
    <h3 class="widget-title section-title">Popular Posts</h3>
    <ul class="post-list">
      <li>
        <figure class="overlay small"> <a href="blog-post.html"><img src="/assets/style/images/art/a1.jpg" alt="" /> </a> </figure>
        <div class="post-content">
          <h4 class="post-title"> <a href="blog-post.html">Magna Mollis Ultricies Mauris</a> </h4>
          <div class="meta"><span class="date">12 Nov 2014</span><span class="category"><em class="red"><a href="#" class="line">Urban</a></em></span></div>
        </div>
      </li>
      <li>
        <figure class="overlay small"> <a href="blog-post.html"><img src="/assets/style/images/art/a2.jpg" alt="" /> </a> </figure>
        <div class="post-content">
          <h4 class="post-title"> <a href="blog-post.html">Ornare Nullam Risus Cursus</a> </h4>
          <div class="meta"><span class="date">12 Nov 2014</span><span class="category"><em class="orange"><a href="#" class="line">Still Life</a></em></span></div>
        </div>
      </li>
      <li>
        <figure class="overlay small"> <a href="blog-post.html"><img src="/assets/style/images/art/a3.jpg" alt="" /> </a> </figure>
        <div class="post-content">
          <h4 class="post-title"> <a href="blog-post.html">Euismod Nullam Fusce Dapibus</a> </h4>
          <div class="meta"><span class="date">12 Nov 2014</span><span class="category"><em class="forest"><a href="#" class="line">Conceptual</a></em></span></div>
        </div>
      </li>
    </ul>
  </div> -->
  <div class="sidebox widget">
    <h3 class="widget-title section-title">Popular Playlists</h3>
    <iframe src="https://open.spotify.com/embed/user/d4ef02j7tjvls9gkkdtdxcnq9/playlist/6va7zra7cPqPdV77AR4QDb" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
  <!-- /.widget -->

  <!-- <div class="sidebox widget">
    <h3 class="widget-title section-title">Categories</h3>
    <ul class="list circled">
      <li><a href="#">Lifestyle (21)</a></li>
      <li><a href="#">Photography (19)</a></li>
      <li><a href="#">Journal (16)</a></li>
      <li><a href="#">Works (7)</a></li>
      <li><a href="#">Conceptual (12)</a></li>
      <li><a href="#">Videography</a></li>
    </ul>
  </div> -->
  <!-- /.widget -->

  <div class="sidebox widget">
    <h3 class="widget-title section-title">Tags</h3>
    <ul class="tag-list">
      <li><a href="{{site.url}}/blog/trap/" class="btn btn-white">Trap</a></li>
      <li><a href="{{site.url}}/blog/future-bass/" class="btn btn-white">Future Bass</a></li>
      <li><a href="{{site.url}}/blog/hip-hop/" class="btn btn-white">Hip-Hop</a></li>
      <li><a href="{{site.url}}/blog/bass/" class="btn btn-white">Bass Music</a></li>
      <li><a href="{{site.url}}/blog/dubstep/" class="btn btn-white">Dubstep</a></li>
    </ul>
  </div>
  <!-- /.widget -->
  <!-- <div class="sidebox widget">
    <h3 class="widget-title section-title">Instagram</h3>
    <div class="tiles instagram">
      <div id="instafeed-widget" class="items row row-offset-0"></div>
    </div>
  </div> -->
  <!-- /.widget -->

  <div class="sidebox widget">
    <h3 class="widget-title section-title">Want to be featured?</h3>
    <ul class="tag-list">
      <li><a href="https://soundgrail.com/promotion/music-blog-feature/" class="btn btn-white">Submit music to our blog</a></li>
    </ul>
  </div>

  <div class="sidebox widget">
    <h3 class="widget-title section-title">Connect with Us</h3>
    <ul class="social" itemscope itemtype="http://schema.org/Organization">
      <link itemprop="url" href="https://soundgrail.com">
      <li> <a itemprop="sameAs" href="https://soundgrail.com/feed.xml"><i class="ion-social-rss"></i></a> </li>
      <li> <a itemprop="sameAs" href="https://twitter.com/soundgrailmusic"><i class="ion-social-twitter"></i></a> </li>
      <li> <a itemprop="sameAs" href="https://www.facebook.com/soundgrail"><i class="ion-social-facebook"></i></a> </li>
      <li> <a itemprop="sameAs" href="https://www.instagram.com/soundgrail/"><i class="ion-social-instagram"></i></a> </li>
      <li> <a itemprop="sameAs" href="https://www.youtube.com/channel/UC5CGKWyaa_SVWZbMUtiwuQA"><i class="ion-social-youtube"></i></a> </li>
      <li> <a itemprop="sameAs" href="https://soundgrail.tumblr.com/"><i class="ion-social-tumblr"></i></a> </li>
    </ul>
    <!-- <div class="divide10"></div> -->
    <!-- <p><a href="https://soundgrail.com/promotion/music-blog-feature/" class="btn btn-white">Submit music to our blog</a> </p> -->
    <div class="clearfix"></div>
  </div>


  <div class="sidebox widget">
    <h4 class="widget-title">Search</h4>
    <form class="searchform" method="get">
      <input type="text" id="s1" name="s" value="Search something" onfocus="this.value=''" onblur="this.value='Search something'">
    </form>
  </div>
  <!-- /.widget -->
</aside>
<!-- /column .sidebar -->
