<!-- Share -->
<div class="entry__share">
  <div class="sticky-col">
    <div class="socials socials--rounded socials--large">
      <a data-social="facebook" class="social social-facebook" href="#" title="facebook" target="_blank" aria-label="facebook">
        <i class="ui-facebook"></i>
      </a>
      <a data-social="twitter" class="social social-twitter" href="#" title="twitter" target="_blank" aria-label="twitter">
        <i class="ui-twitter"></i>
      </a>
      <a data-social="googleplus" class="social social-google-plus" href="#" title="google" target="_blank" aria-label="google">
        <i class="ui-google"></i>
      </a>
      <a data-social="pinterest" class="social social-pinterest" href="#" title="pinterest" target="_blank" aria-label="pinterest">
        <i class="ui-pinterest"></i>
      </a>
    </div>
  </div>
</div>
<!-- share -->
